*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:rgb(40, 101, 101);
}
#center{
    width: 90%;
    height: 90%;
    background-color: #fff;
    display: flex;
    border-radius: 2vw;
}
#section1{
     position: relative;
    width: 40%;
    height: 100%;
}
#nav{
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}
#r{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
#r>a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#r>a:hover{
    text-decoration:overline;
}
#nav>i{
    font-size: 1.5vw;
    color: black;
}
#nav #r>i{
    font-size: 1.5vw;
    color: rgb(6, 182, 252);
}
#s1e2{
    width: 60%;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
   
}
#s1e2>h1{
    margin: 1vw;
    text-align: left;
    font-size: 10vw;
    font-family:"gilroy";
    font-family:voyage;
}
#s1e2>p{
     margin: 1vw; 
     font-size:1.5vw;
     font-weight: 100;
     line-height: 1.7vw;
}
#s1e2 button{
    margin: 1vw;
    width: 70px;
    height: 30px;
    background-color: transparent;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;

}
#section2{
    width: 60%;
    height: 100%;
}
#s2e1{
    display: flex;
    width: 100%;
    height: 50%;
}
#s2e1e1{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
     background-size: cover;
     background-position: center;
     
}
#s2e1e2{
     width: 50%;
     height: 100%;
     background-image: url(https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    background-size: cover;
    background-position: center;
    border-top-right-radius:2vw;
 }
#s2e2{
    display: flex;
    width: 100%;
    height: 50%;
    border-top-right-radius:2vw;
}
#s2e2 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius:2vw;
}