 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    cursor:pointer;
 }
 html,body{
    width: 100%;
    height: 100%;
 }
 #main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgba(128, 128, 128, 0.568);
 }
 #center{
    display: flex;
    justify-content: last baseline;
    width: 100%;
    height: 100%;
    background-color: #fff;
 }
 #part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6.3vw;
    left: 2%;
    height: 40.1vw;
    width: 35vw;
 }
 #part2 h1{
    font-size: 7vw;
    font-weight: 900;
    margin-bottom: 1vw;
    margin-right: 1vw;
 }
 #part2 p{
    font-weight: 100;
    font-size: 2vw;
    width: 50%;
    margin-bottom: 1vw;
 }
 button{
    width: 10vw;
    height: 3vw;
    letter-spacing: .1vw;
    margin-right: 8.5vw;
    margin-bottom: 5vw;
    font-size: 1vw;
 }
 button:hover{
    background-color:hotpink;
 }
 #r3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 150px;
     background-color:#fff;
     margin-left:38.8vw;
     position: absolute;
     bottom: 0;
}
#r3>i{
    font-size:2vw;
}
 #nav{
    padding-left:2vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:35vw;
    height:4vw;  
 }
 #nav>i{
    font-size: 2vw;
    opacity:0.5;
 }
 i:hover{
    text-decoration: underline;
    opacity: 1vw;
 }
 #r{
    margin: 5vw;
 }
#A{
    text-decoration: none;
        ;
    font-size: 1.3vw;
    margin-right: 2vw
}
#A:hover{
    text-decoration: underline;
    color: black;
    font-weight: 900;
}
#B{
    color: black;
    text-decoration:none;
    font-weight: 100;
    font-size:1.3vw;
 }
 #B:hover{
     text-decoration: underline;
     opacity: 1vw;
     font-weight: 900;
     opacity: 1vw;
 }
 #r>i{
    font-size: 1.3vw;
    color: rgb(5, 183, 254);
    margin-left:2vw;
 }
 #part1{
    width: 65vw;
    height: 100%;
    background-color: hotpink;
}
#r1{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: red;
}
#r1e1{
    width: 50%;
    height: 100%;
    background-color: aqua;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1528476513691-07e6f563d97f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80);
    background-size: cover;
}
#r1e1 h1{
      font-size: 5vw;
      color: white;
      text-transform: uppercase;
      margin-left: 5vw;
      margin-top: 2vw;
}
#r1e2{
    width: 50%;
    height: 100%;
    background-color:aquamarine;
    background-size: cover;
    background-position:center;    
    background-image: url(https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
}
#r2{
    width: 100%;
    height: 50%;
    background-color: goldenrod;
    background-size: cover;
    background-position: bottom;
    background-image: url(https://images.unsplash.com/photo-1495975065042-aece95aeeaf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}
